/* General */

 {
    padding: 0.5em;
}

.amagat {
    display: none;
}

 .contingut {
    padding: 2.5em 1.5em 1.5em 1.5em;
    margin-left: 2px;
}

 .contingut p {
    text-align: center;
}

 .contingut h2 {
    font-size: 100%;
    font-weight: bold;
    text-align: center;
    margin: 0.5em;
}

 a.estat_obert {
    color: green;
}

 a.estat_tancat {
    color: red;
}

 a.estat_proposat {
    color: orange;
}

/* Pestanyes */

 .tabtree .tabrow0 {
    margin: 0 auto;
    padding-bottom: 0;
}

 .tabtree .tabrow1 {
    margin: 0;
}

 .tabtree ul.tabrow1 li.active {
    font-weight: bold;
}

/* Taules */

 .contingut table {
    margin-left: auto;
    margin-right: auto;
}

 .contingut th {
    text-align: left;
    padding: 0.1em 1em;
}

 .contingut td {
    text-align: left;
    padding: 0.2em 1em;
}

 .contingut td.accions {
    width: 30px;
}

/* Formularis */

 form a.boto {
    margin: 10px;
}

#valoracio_actituds .fitemtitle,
#activitats .fitemtitle,
#valoracio_resultats .fitemtitle,
.fitemtitle {
    width: 70%;
    text-align: left;
}

 #valoracio_actituds .felement,
 #activitats .felement,
 #valoracio_resultats .felement,
 .felement {
    width: 20%;
}

 #activitats_realitzades .fitemtitle,
 #activitats_cicle .fitemtitle,
 #llista_empreses .fitemtitle,
 #cicle_formatiu .fitemtitle {
    width: 10%;
    text-align: left;
}

 #activitats_realitzades .felement,
 #activitats_cicle .felement,
 #llista_empreses .felement,
 #cicle_formatiu .felement {
    width: 80%;
}

 form.fct_form_element_afegir_franja_horari {
    width: 40%;
    margin-top: 2em;
}

form .frases_areatext h4 {
    margin: 0 0;
    cursor: pointer;
}

form .frases_areatext ul {
    margin: 5px 0;
    list-style-type: none;
}

form .frases_areatext li:hover {
    cursor: pointer;
    text-decoration: underline;
}

#calendari_dies {
    font-size: 0.8em;
    margin: 5px 0;
}

#calendari_dies td, #calendari_dies th {
    border: 1px solid #dddddd;
    text-align: center;
    width: 2em;
}

/* Llista de quaderns */

_quaderns td, _seguiment td {
    padding: 0;
}

#quaderns tr:hover, _seguiment tr:hover {
    background: #dddddd;
}

_quaderns td a, _seguiment td a  {
    display: block;
    padding: 2px 14px;
}

_quaderns td a:hover, _seguiment td a:hover {
    text-decoration: none;
}

 .selectors_quaderns {
    margin-bottom: 1em;
}

 .selectors_quaderns div  {
    display: inline;
    margin-right: 20px;
}

 .selectors_quaderns div label {
    margin-right: 5px;
}
